In [1]:
import pandas as pd
import numpy as np

## Load Data

In [2]:
df = pd.read_csv('data/HW2-Fall2025-Data.csv')
df

   Student ID   Test1 Homeworks  Quizzes  Term Paper  Presentation Fianl-Exam
0         NaN  Max:50   Max:400  Max:140         NaN           NaN    Max:100
1         NaN     NaN       NaN      NaN         NaN           NaN        NaN
2          S1      41       244      136        76.0          50.0         90
3          S2      50       400      140        98.0          50.0        100
4          S3      43       327       88        88.0          50.0         79
5          S4      43       336      123        18.0          50.0         35
6          S5      41       232      100        44.0          50.0         79
7          S6      46       400      135        50.0          50.0         46
8          S7      47       310      125       100.0          50.0         87
9          S8      41       400      102        22.0          50.0         51
10         S9      42       128       84        49.0          40.0         62
11        S10      50       384      134        66.0          50.0         75
12        S11      42       200      100        88.0          50.0         65
13        S12      40       146      138        94.0          50.0         99
14        S13      50       396      130        61.0          50.0         46
15        S14      42       356      126       100.0          50.0        100
16        S15      40       295      131        25.0          50.0         44
17        S16      44       233      118        29.0          50.0         52
18        S17      32       321      122        71.0          50.0         82
19        S18      50       400      132        90.0          50.0        100
20        S19      45       280      132        69.0          50.0         37
21        S20      46       198      129       100.0          50.0         69
22        S21      41       300      111        74.0          50.0         62
23        S22      31       212      100        80.0          50.0         55
24        S23      27       195       78        62.0          40.0         86
25        S24      42       292       82        24.0          50.0         50
26        S25      49       275       84       100.0          50.0         84
27        S26      50       374      121        78.0          50.0         94
28        S27      49       278      140        82.0          50.0         86
29        S28      45       392      130       100.0          50.0         77
30        S29      32       218       74        70.0          40.0         29
31        S30      31       222      100        72.0          40.0         24

In [3]:
# drop first 2 rows and start from index 1
df = df.drop(index=[0, 1])
df = df.reset_index(drop=True)
df.index += 1
df

   Student ID Test1 Homeworks Quizzes  Term Paper  Presentation Fianl-Exam
1          S1    41       244     136        76.0          50.0         90
2          S2    50       400     140        98.0          50.0        100
3          S3    43       327      88        88.0          50.0         79
4          S4    43       336     123        18.0          50.0         35
5          S5    41       232     100        44.0          50.0         79
6          S6    46       400     135        50.0          50.0         46
7          S7    47       310     125       100.0          50.0         87
8          S8    41       400     102        22.0          50.0         51
9          S9    42       128      84        49.0          40.0         62
10        S10    50       384     134        66.0          50.0         75
11        S11    42       200     100        88.0          50.0         65
12        S12    40       146     138        94.0          50.0         99
13        S13    50       396     130        61.0          50.0         46
14        S14    42       356     126       100.0          50.0        100
15        S15    40       295     131        25.0          50.0         44
16        S16    44       233     118        29.0          50.0         52
17        S17    32       321     122        71.0          50.0         82
18        S18    50       400     132        90.0          50.0        100
19        S19    45       280     132        69.0          50.0         37
20        S20    46       198     129       100.0          50.0         69
21        S21    41       300     111        74.0          50.0         62
22        S22    31       212     100        80.0          50.0         55
23        S23    27       195      78        62.0          40.0         86
24        S24    42       292      82        24.0          50.0         50
25        S25    49       275      84       100.0          50.0         84
26        S26    50       374     121        78.0          50.0         94
27        S27    49       278     140        82.0          50.0         86
28        S28    45       392     130       100.0          50.0         77
29        S29    32       218      74        70.0          40.0         29
30        S30    31       222     100        72.0          40.0         24

In [4]:
# drop Student ID since studentID = index + 1
df = df.drop(columns=['Student ID'])
df.head()

  Test1 Homeworks Quizzes  Term Paper  Presentation Fianl-Exam
1    41       244     136        76.0          50.0         90
2    50       400     140        98.0          50.0        100
3    43       327      88        88.0          50.0         79
4    43       336     123        18.0          50.0         35
5    41       232     100        44.0          50.0         79

In [5]:
# convert all columns to float
for col in df.columns:
    df[col] = df[col].astype(float)
df.dtypes

Test1           float64
Homeworks       float64
Quizzes         float64
Term Paper      float64
Presentation    float64
Fianl-Exam      float64
dtype: object

In [8]:
df.describe()

           Test1   Homeworks     Quizzes  Term Paper  Presentation  Fianl-Exam
count  30.000000   30.000000   30.000000   30.000000     30.000000   30.000000
mean   42.400000  291.466667  114.833333   69.333333     48.666667   68.166667
std     6.360438   81.549111   20.938470   26.108967      3.457459   22.891172
min    27.000000  128.000000   74.000000   18.000000     40.000000   24.000000
25%    41.000000  224.500000  100.000000   52.750000     50.000000   50.250000
50%    42.500000  293.500000  122.500000   73.000000     50.000000   72.000000
75%    46.750000  369.500000  131.750000   89.500000     50.000000   86.000000
max    50.000000  400.000000  140.000000  100.000000     50.000000  100.000000

## Covariance Matrix

In [6]:
# get the covariance matrix of the normalized data
cov_matrix = df.cov()
cov_matrix

,Test1,Homeworks,Quizzes,Term Paper,Presentation,Fianl-Exam
Test1,40.455172,273.979310,70.448276,30.724138,12.965517,45.172414
Homeworks,273.979310,6650.257471,739.666667,-26.402299,138.919540,230.195402
Quizzes,70.448276,739.666667,438.419540,113.091954,42.528736,136.373563
Term Paper,30.724138,-26.402299,113.091954,681.678161,8.390805,362.011494
Presentation,12.965517,138.919540,42.528736,8.390805,11.954023,24.712644
Fianl-Exam,45.172414,230.195402,136.373563,362.011494,24.712644,524.005747

## Eigenvectos and eigenvalues

In [7]:
# find eigenvalues and eigenvectors
eigenvalues, eigenvectors = np.linalg.eig(cov_matrix)
print("Eigenvalues:")
print(eigenvalues)
print("\nEigenvectors:")    
print(eigenvectors)

Eigenvalues:
[6.76164382e+03 1.01123330e+03 2.39233837e+01 5.78564256e+00
 3.19492300e+02 2.24691668e+02]

Eigenvectors:
[[-4.19438636e-02 -5.38199031e-02  9.72527189e-01 -2.01951882e-01
   9.19376987e-02  1.72595865e-02]
 [-9.91177139e-01  5.48014984e-02 -2.96323537e-02 -5.47210566e-03
  -1.15958943e-01 -1.44975352e-02]
 [-1.17416892e-01 -2.31415503e-01 -1.14986447e-01 -5.04744342e-02
   9.45199958e-01 -1.53256737e-01]
 [-4.76869592e-04 -7.56082631e-01 -7.80318932e-04  1.98115427e-02
  -2.80066855e-01 -5.91192252e-01]
 [-2.13658658e-02 -2.42857244e-02  1.93397433e-01  9.77501360e-01
   7.19117175e-02  2.95115722e-02]
 [-3.95618216e-02 -6.06874236e-01 -5.18433300e-02 -2.71370463e-02
  -3.30043156e-02  7.90964657e-01]]

## Projections

In [26]:
# first two eigenvectors
W1 = eigenvectors[0]
W2 = eigenvectors[1]
W12 = np.column_stack((W1, W2))
W12

array([[-0.04194386, -0.99117714],
       [-0.0538199 ,  0.0548015 ],
       [ 0.97252719, -0.02963235],
       [-0.20195188, -0.00547211],
       [ 0.0919377 , -0.11595894],
       [ 0.01725959, -0.01449754]])

In [27]:
# project data onto the first two principal components
pca12 = df.dot(W12)
pca12 = pd.DataFrame(pca12)
pca12

             0          1
1   108.213848 -38.815303
2    99.060211 -39.570754
3    54.368325 -34.732972
4   101.299607 -34.255952
5    80.121312 -38.071576
6   103.127023 -34.412356
7    88.813648 -40.907349
8    76.984296 -28.397871
9    67.893654 -42.909304
10  100.117137 -39.732238
11   72.674088 -40.854208
12  111.995399 -43.482913
13   96.090421 -38.508302
14   87.744553 -33.648694
15  110.153945 -33.935123
16  100.010420 -41.050173
17   91.703512 -25.116799
18   92.895609 -39.289918
19  102.717352 -39.881954
20   98.462857 -45.911513
21   80.807389 -34.588735
22   73.932651 -29.104889
23   56.870571 -24.611230
24   62.883195 -34.711410
25   50.688063 -43.549336
26   85.916992 -40.236151
27  108.657779 -44.974841
28   89.174344 -34.434458
29   48.933474 -27.405570
30   73.555643 -26.904084