In [96]:
import pandas as pd
import numpy as np

## Load Data

In [97]:
df = pd.read_csv('data/HW2-Fall2025-Data.csv')
df

   Student ID   Test1 Homeworks  Quizzes  Term Paper  Presentation Fianl-Exam
0         NaN  Max:50   Max:400  Max:140         NaN           NaN    Max:100
1         NaN     NaN       NaN      NaN         NaN           NaN        NaN
2          S1      41       244      136        76.0          50.0         90
3          S2      50       400      140        98.0          50.0        100
4          S3      43       327       88        88.0          50.0         79
5          S4      43       336      123        18.0          50.0         35
6          S5      41       232      100        44.0          50.0         79
7          S6      46       400      135        50.0          50.0         46
8          S7      47       310      125       100.0          50.0         87
9          S8      41       400      102        22.0          50.0         51
10         S9      42       128       84        49.0          40.0         62
11        S10      50       384      134        66.0          50.0         75
12        S11      42       200      100        88.0          50.0         65
13        S12      40       146      138        94.0          50.0         99
14        S13      50       396      130        61.0          50.0         46
15        S14      42       356      126       100.0          50.0        100
16        S15      40       295      131        25.0          50.0         44
17        S16      44       233      118        29.0          50.0         52
18        S17      32       321      122        71.0          50.0         82
19        S18      50       400      132        90.0          50.0        100
20        S19      45       280      132        69.0          50.0         37
21        S20      46       198      129       100.0          50.0         69
22        S21      41       300      111        74.0          50.0         62
23        S22      31       212      100        80.0          50.0         55
24        S23      27       195       78        62.0          40.0         86
25        S24      42       292       82        24.0          50.0         50
26        S25      49       275       84       100.0          50.0         84
27        S26      50       374      121        78.0          50.0         94
28        S27      49       278      140        82.0          50.0         86
29        S28      45       392      130       100.0          50.0         77
30        S29      32       218       74        70.0          40.0         29
31        S30      31       222      100        72.0          40.0         24

In [98]:
# drop first 2 rows and start from index 1
df = df.drop(index=[0, 1])
df = df.reset_index(drop=True)
df.index += 1
df

   Student ID Test1 Homeworks Quizzes  Term Paper  Presentation Fianl-Exam
1          S1    41       244     136        76.0          50.0         90
2          S2    50       400     140        98.0          50.0        100
3          S3    43       327      88        88.0          50.0         79
4          S4    43       336     123        18.0          50.0         35
5          S5    41       232     100        44.0          50.0         79
6          S6    46       400     135        50.0          50.0         46
7          S7    47       310     125       100.0          50.0         87
8          S8    41       400     102        22.0          50.0         51
9          S9    42       128      84        49.0          40.0         62
10        S10    50       384     134        66.0          50.0         75
11        S11    42       200     100        88.0          50.0         65
12        S12    40       146     138        94.0          50.0         99
13        S13    50       396     130        61.0          50.0         46
14        S14    42       356     126       100.0          50.0        100
15        S15    40       295     131        25.0          50.0         44
16        S16    44       233     118        29.0          50.0         52
17        S17    32       321     122        71.0          50.0         82
18        S18    50       400     132        90.0          50.0        100
19        S19    45       280     132        69.0          50.0         37
20        S20    46       198     129       100.0          50.0         69
21        S21    41       300     111        74.0          50.0         62
22        S22    31       212     100        80.0          50.0         55
23        S23    27       195      78        62.0          40.0         86
24        S24    42       292      82        24.0          50.0         50
25        S25    49       275      84       100.0          50.0         84
26        S26    50       374     121        78.0          50.0         94
27        S27    49       278     140        82.0          50.0         86
28        S28    45       392     130       100.0          50.0         77
29        S29    32       218      74        70.0          40.0         29
30        S30    31       222     100        72.0          40.0         24

In [99]:
# drop Student ID since studentID = index + 1
df = df.drop(columns=['Student ID'])
df.head()

  Test1 Homeworks Quizzes  Term Paper  Presentation Fianl-Exam
1    41       244     136        76.0          50.0         90
2    50       400     140        98.0          50.0        100
3    43       327      88        88.0          50.0         79
4    43       336     123        18.0          50.0         35
5    41       232     100        44.0          50.0         79

In [100]:
# convert all columns to float
for col in df.columns:
    df[col] = df[col].astype(float)
df.dtypes

Test1           float64
Homeworks       float64
Quizzes         float64
Term Paper      float64
Presentation    float64
Fianl-Exam      float64
dtype: object

In [101]:
df.describe()

           Test1   Homeworks     Quizzes  Term Paper  Presentation  Fianl-Exam
count  30.000000   30.000000   30.000000   30.000000     30.000000   30.000000
mean   42.400000  291.466667  114.833333   69.333333     48.666667   68.166667
std     6.360438   81.549111   20.938470   26.108967      3.457459   22.891172
min    27.000000  128.000000   74.000000   18.000000     40.000000   24.000000
25%    41.000000  224.500000  100.000000   52.750000     50.000000   50.250000
50%    42.500000  293.500000  122.500000   73.000000     50.000000   72.000000
75%    46.750000  369.500000  131.750000   89.500000     50.000000   86.000000
max    50.000000  400.000000  140.000000  100.000000     50.000000  100.000000

## Covariance Matrix

In [102]:
# get the covariance matrix of the normalized data
cov_matrix = df.cov()
cov_matrix

,Test1,Homeworks,Quizzes,Term Paper,Presentation,Fianl-Exam
Test1,40.455172,273.979310,70.448276,30.724138,12.965517,45.172414
Homeworks,273.979310,6650.257471,739.666667,-26.402299,138.919540,230.195402
Quizzes,70.448276,739.666667,438.419540,113.091954,42.528736,136.373563
Term Paper,30.724138,-26.402299,113.091954,681.678161,8.390805,362.011494
Presentation,12.965517,138.919540,42.528736,8.390805,11.954023,24.712644
Fianl-Exam,45.172414,230.195402,136.373563,362.011494,24.712644,524.005747

## Eigenvectos and eigenvalues

In [103]:
# find eigenvalues and eigenvectors
eigenvalues, eigenvectors = np.linalg.eigh(cov_matrix) # use eigh since covariance matrix is symmetric

for i in range(len(eigenvalues)):
    print(f"Eigenvalue:  {eigenvalues[i]} , Eigenvector:  {eigenvectors[:, i]}")

Eigenvalue:  5.785642558787699 , Eigenvector:  [-0.20195188 -0.00547211 -0.05047443  0.01981154  0.97750136 -0.02713705]
Eigenvalue:  23.923383727355773 , Eigenvector:  [ 9.72527189e-01 -2.96323537e-02 -1.14986447e-01 -7.80318932e-04
  1.93397433e-01 -5.18433300e-02]
Eigenvalue:  224.69166847056266 , Eigenvector:  [ 0.01725959 -0.01449754 -0.15325674 -0.59119225  0.02951157  0.79096466]
Eigenvalue:  319.49230020323716 , Eigenvector:  [-0.0919377   0.11595894 -0.94519996  0.28006685 -0.07191172  0.03300432]
Eigenvalue:  1011.2332951478061 , Eigenvector:  [ 0.0538199  -0.0548015   0.2314155   0.75608263  0.02428572  0.60687424]
Eigenvalue:  6761.64382483478 , Eigenvector:  [-4.19438636e-02 -9.91177139e-01 -1.17416892e-01 -4.76869592e-04
 -2.13658658e-02 -3.95618216e-02]

## Projections

In [104]:
# Eigenvectos corresponding to the two largest eigenvalues
W1 = eigenvectors[:, -1]
W2 = eigenvectors[:, -2]
W12 = np.column_stack((W1, W2))
W12

array([[-4.19438636e-02,  5.38199031e-02],
       [-9.91177139e-01, -5.48014984e-02],
       [-1.17416892e-01,  2.31415503e-01],
       [-4.76869592e-04,  7.56082631e-01],
       [-2.13658658e-02,  2.42857244e-02],
       [-3.95618216e-02,  6.06874236e-01]])

In [105]:
# project data onto the first two principal components
pca12 = df.dot(W12)
pca12 = pd.DataFrame(pca12)
pca12

             0           1
1  -264.200717  133.602806
2  -420.077622  149.166374
3  -340.486839  120.451352
4  -351.742923   48.429431
5  -247.629143   95.059205
6  -417.163534   78.730842
7  -328.471245  144.088617
8  -413.263514   52.689088
9  -141.826169   90.330427
10 -402.509981  109.288205
11 -215.420535  121.638070
12 -167.622887  158.453720
13 -412.784762   86.325159
14 -374.487394  149.419429
15 -312.277559   63.120603
16 -249.784334   71.604499
17 -338.181146  117.023488
18 -419.134472  141.266389
19 -297.481087   93.462657
20 -217.175016  140.174490
21 -315.662530  106.243891
22 -226.453845  108.271029
23 -207.857061  108.856991
24 -303.871381   54.938451
25 -288.931155  134.805651
26 -391.829187  127.431420
27 -298.550572  135.204775
28 -409.855349  134.575589
29 -228.142978   78.396823
30 -234.921727   82.618395